name: Mirror Tag
run-name: mirror-tag

on:
  workflow_dispatch:
    inputs:
      tag:
        required: true
        type: string
        description: "The tag name to mirror. Ex: release-1.2.3"
      src_repo:
        required: true
        type: string
        description: "The repository name to mirror from. Ex: grafana/grafana"
      dest_repo:
        required: true
        type: string
        description: "The repository name to mirror to. Ex: grafana/grafana-security-mirror"
      dry_run:
        required: false
        type: bool
        default: false
  workflow_call:
    inputs:
      tag:
        required: true
        type: string
        description: "The tag name to mirror. Ex: release-1.2.3"
      src_repo:
        required: true
        type: string
        description: "The repository name to mirror from. Ex: grafana/grafana"
      dest_repo:
        required: true
        type: string
        description: "The repository name to mirror to. Ex: grafana/grafana-security-mirror"
      dry_run:
        required: false
        type: bool
        default: false

concurrency: "${{ inputs.tag }}-${{ inputs.src_repo }}"
env:
  SRC_REPO: ${{ inputs.src_repo }}
  DEST_REPO: ${{ inputs.dest_repo }}
  TAG: ${{ inputs.tag }}
  GIT_USER: "github-actions[bot]"
  GIT_USER_EMAIL: "github-actions[bot]@users.noreply.github.com"

jobs:
  mirror-tag:
    runs-on: ubuntu-latest
    steps:
      - name: "Generate token"
        id: generate_token
        uses: tibdex/github-app-token@3beb63f4bd073e61482598c45c71c1019b59b73a
        with:
          app_id: ${{ secrets.GRAFANA_DELIVERY_BOT_APP_ID }}
          private_key: ${{ secrets.GRAFANA_DELIVERY_BOT_APP_PEM }}

      - name: "Checkout source repo"
        uses: actions/checkout@v4
        with: 
          repository: ${{ inputs.src_repo }}
          ref: ${{ inputs.tag }}
          path: src
          token: ${{ steps.generate_token.outputs.token }}
          fetch-depth: 0

      - name: "Mirror source tag"
        id: mirror
        working-directory: src
        run: |
          dry_run=

          if [[ ${{ inputs.dry_run }} == "true" ]]; then
            dry_run=echo
          fi

          # Tell git who we are
          git config --local user.name ${GIT_USER}
          git config --local user.email ${GIT_USER_EMAIL}

          # Push the given tag to the destination repo.
          dry_run git push https://grafana-delivery-bot:${{ steps.generate_token.outputs.token }}@github.com/${DEST_REPO} ${{ inputs.tag }}
